/* Write your code here */
.announcement{
    border: 1px solid black;
    background-color:aliceblue;
    padding:10px;
    position:relative;
    
}

button{
    background-color:black;
    color:white;
    position:absolute;
    top:0;
    left:0;
}

.hidden{
    display:none;
}