/* Write your code here */
ul {
    li {
    width:25%;
    float:left;
    list-style:none;
    
        img{
            width:100%
        }
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    img{
        margin:auto;
    }
    
    p{
     
    }
}